LatestSymbolsClient/Service References/TickWriterLS/Markets.DataTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Markets.DataTypes" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Markets.DataTypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LatestSymbolTick">
    <xs:sequence>
      <xs:element minOccurs="0" name="BidValue" type="xs:decimal" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LatestSymbolTick" nillable="true" type="tns:LatestSymbolTick" />
</xs:schema>