LatestSymbolsClient/Service References/TickWriterLS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TickWriter" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ITickWriter_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Markets.DataTypes" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITickWriter_SubscribeForEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeForEvent" />
  </wsdl:message>
  <wsdl:message name="ITickWriter_SubscribeForEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeForEventResponse" />
  </wsdl:message>
  <wsdl:message name="ITickWriter_ProvideSymbols_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ProvideSymbols" />
  </wsdl:message>
  <wsdl:portType name="ITickWriter">
    <wsdl:operation name="SubscribeForEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/ITickWriter/SubscribeForEvent" message="tns:ITickWriter_SubscribeForEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITickWriter/SubscribeForEventResponse" message="tns:ITickWriter_SubscribeForEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProvideSymbols">
      <wsdl:output wsaw:Action="http://tempuri.org/ITickWriter/ProvideSymbols" message="tns:ITickWriter_ProvideSymbols_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ITickWriter" type="tns:ITickWriter">
    <wsp:PolicyReference URI="#NetTcpBinding_ITickWriter_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="SubscribeForEvent">
      <soap12:operation soapAction="http://tempuri.org/ITickWriter/SubscribeForEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProvideSymbols">
      <soap12:operation soapAction="http://tempuri.org/ITickWriter/ProvideSymbols" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TickWriter">
    <wsdl:port name="NetTcpBinding_ITickWriter" binding="tns:NetTcpBinding_ITickWriter">
      <soap12:address location="net.tcp://localhost:9090/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9090/</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>